@using SSM.Controllers
@using SSM.Models
@using SSM.Services
@model SSM.ViewModels.Shared.GridNew<SSM.Models.Product,SSM.Models.ProductModel>
@{
    User User1 = (User)Session[AccountController.USER_SESSION_ID]; 
}
@Html.Partial("_TopPage", Model)
<div style="height: auto; overflow: hidden;">
    @if (User1.IsDataTrading())
    {
        <input type="button" onclick="return edit(0)" id="CreateDept" value="Create a Product" />
    }
    @if (ViewBag.MessageErr != null)
    {
        <span class="text-danger"> @ViewBag.MessageErr </span>
    }
</div>
<table width="100%" class="grid">
    <tr>
        <th>No</th>

        <th>
            <a href="#" onclick="sortAction('Code');">
                <div class="SortHeader-label">Code</div>
                <div id="Code_Title" class="SortHeader"> </div>
            </a>

        </th>
        <th>
            <a href="#" onclick="sortAction('Name')">
                <div class="SortHeader-label"> Production Name</div>
                <div id="Name_Title" class="SortHeader"> <img src="@Url.Content("~/Images/sort_asc.gif")" /></div>
            </a>

        </th>
        <th>Unit</th>

        <th>
            In put by
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    @if (Model.Data != null && Model.Data.Any())
    {
        int no = 0;
        foreach (var it in Model.Data)
        {
            no++;
            var hightline = no % 2 == 0 ? "GridLight" : string.Empty;
            <tr class="@hightline">
                <td>
                    @no
                </td>
                <td>
                    @*@Ajax.ActionLink(it.Code, "Edit", "Product", new { id = it.Id }, new AjaxOptions()
                        {
                            OnSuccess = "SuccessGetProDuc",
                            HttpMethod = "GET",
                            UpdateTargetId = "ModifyDeptZone"
                        },null)
                    *@
                    <a href="javascript:void(0)" onclick="return GetDetailProduc(@it.Id); ">@it.Code</a>
                </td>
                <td>
                    @it.Name
                </td>
                <td>
                    @it.Uom
                </td>
                <td>
                    @if (it.CreatedBy != null)
                    {
                        @it.User.FullName
                    }
                </td>
                <td>
                    @if (User1.IsDataTrading())
                    {
                        @*  <a href="@Url.Action("Index", "Product", new {id = it.Id})"><img alt="Edit" src="../../Images/btn-edit.png" /></a>*@
                        <a onclick="edit(@it.Id)"><img alt=" edit" src="@Url.Content("~/Images/btn-edit.png")" /></a>
                    }
                </td>
                <td>
                    @if (User1.IsDataTrading())
                    {
                        <a href="@Url.Action("Delete", "Product", new {id = it.Id})" onclick=" return confirm('Are you sure you want to delete?') "><img alt="Delete" src="@Url.Content("~/Images/btn-delete.png")" /></a>
                    }
                </td>
            </tr>
        }
    }
</table>