@using System.Web.Optimization    
@using SSM.Models.CRM          
@model List<SSM.ViewModels.Reports.CRM.PersonalReport>

@{
    ViewBag.Title = "Personal report";                                    
    PlanFilter filter = (PlanFilter)ViewBag.PlanFilter;
}
@Styles.Render("~/Content/CRM")
@Scripts.Render("~/bundles/SCFListPagingJs")
<div class="SectionBlock Expanded BoxL1 ">
    <div class="BoxL2">
        <div class="BoxL3">
            <div class="BoxL4">
                <div class="DivHeader">
                    <h2>
                        @ViewBag.Title
                    </h2>
                </div>

                <div class="">
                    @using (Ajax.BeginForm("Index", "CRMReport", null, new AjaxOptions()
                                       {
                                           HttpMethod = "post",
                                           UpdateTargetId = "ListData"
                                       }, new { @class = "form-inline" }))
                    {
                        @Html.Partial("_SearchView", filter)
                    }

                </div>
                <div id="ListData">
                    @Html.Partial("_PorsonalDataReport", Model)
                </div>
                <div id="gridFooter">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function () {
        jQuery("#CrmTab").addClass("Active");
        jQuery('#CrmTab').activeThisNav();
    });

</script>
