@using System.Web.Optimization
@using SSM.Common
@using SSM.Models.CRM
@using SSM.ViewModels.Shared
@model SSM.ViewModels.Shared.Grid<SSM.Models.CRM.CRMEventModel>

@{
    ViewBag.Title = "List Visited";
    var filter = (ListEventFilter)ViewBag.SearchingMode;
}

@Styles.Render("~/Content/CRM")
@Scripts.Render("~/bundles/SCFListPagingJs")
@using (Ajax.BeginForm("Index", "CRMEvent", new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "ListData",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="SectionBlock Expanded BoxL1 fullPage">
        <div class="BoxL2">
            <div class="BoxL3">
                <div class="BoxL4">
                    <div class="DivHeader">

                        <div class="col-md-12  bg-warning">
                            <h2>
                                List Viếng thăm/Sự kiện
                            </h2>
                            <div class="inlin-item">
                                @Ajax.Link("Tạo viếng thăm", "Create", "CRMEvent", new { refId = 0, isEventAction = false }, new MyAjaxOptions()
                            {
                                HttpMethod = "get",
                                DataType = "json",
                                ContentType = "application/json; charset=utf-8"

                            }, new { @class = "btn btn-info btn-sm" })
                                @Ajax.Link("Tạo sự kiện", "Create", "CRMEvent", new { refId = 0, isEventAction = true }, new MyAjaxOptions()
                            {
                                HttpMethod = "get",
                                DataType = "json",
                                ContentType = "application/json; charset=utf-8"

                            }, new { @class = "btn btn-info btn-sm" })
                                @Html.ActionLink("Calendar View", "CalendarView", "CRMEvent", new { id = 0 },new { @class = "btn btn-warning btn-sm" })
                            </div>
                             <div class="inlin-item" style="width: 10px"></div>
                            <div class="SectionBlockWrapper inlin-item" style="border: 1px solid gold; border-radius: 5px; margin:10px 0; padding: 10px">  
                                @Html.Partial("_CRMEventSearch", filter ?? new ListEventFilter())
                            </div>

                        </div>
                    </div>


                    <div id="ListData">
                        @Html.Partial("_List", Model)
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#CrmTab").addClass("Active");
        jQuery('#CrmTab').activeThisNav();
        jQuery("li#CalendarEvenMenu").addClass("subActive");
        jQuery('img.ui-datepicker-trigger').remove();

    });
</script>

