@using SSM.Common
@using SSM.Controllers
@using SSM.Models
@using SSM.Models.CRM
@using SSM.Services
@model System.Collections.Generic.List<SSM.Models.CRM.CRMFollowCusUserModel>
@{

    var currentUser = (User)Session[AccountController.USER_SESSION_ID];
    var currenCust = (CRMCustomer)ViewBag.Customer;
    var listUserId = new List<long>();
    listUserId.Add(currenCust.CreatedById.Value);
    if (Model.Any())
    {
        listUserId.AddRange(Model.Select(x => x.UserId).ToList());
    }
    var strUserId = string.Join("-", listUserId);

}

<div id="userList">
    <div class="form-group">
        <label class="col-sm-3 control-label">Chọn User cùng theo dõi</label>
        <div class="col-sm-8">
            @Html.TextBox("UserFullName", "", new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="list-inline col-md-12 list-user-dialog" style=" border: 2px solid white">
        <table class="list-user table table-bordered">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Phòng ban</th>
                    @if (currentUser.IsDepOrDirecter())
                    {

                    <th>Look</th>
}
                    <th>Del</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    
                    foreach (var u in Model)
                    {
                        <tr id="user_@u.Id">
                            @Html.Partial("_UserFollowItem", u)
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#UserFullName").GetAutoSugget({
            url: '@Url.Action("UserSuggestFollow", "CRM")',
            params: ', notyetId: "' + '@strUserId'+'"',
            select: function (e, ui) {
                e.preventDefault();
                var crmId = "@currenCust.Id";
                var uId = ui.item.id;
                var crmUserId = jQuery("#CrmSaleId").val();
                if (uId === crmUserId) return false;
                var url = '@Url.Action("AddFollow", "CRM")';
                var data = JSON.stringify({ "cusId": crmId, "userId": uId });
                jQuery.mbqAjax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: data,
                    success: function (result) {
                        var $tbody = jQuery(".jconfirm .jconfirm-box .content").find("#userList").find("tbody");
                        var existed = $tbody.find('tr[id="user-' + uId + '"]');
                        if (existed === undefined || existed.length === 0)
                            $tbody.append(result);
                    }
                });
            }
        });
        jQuery(".jconfirm").on("click", ".closeIcon", function (e) {
            e.preventDefault();
            var list = jQuery(".list-user-dialog").html();
            jQuery(".list-user-Follow").html(list);
        });
    });
</script>