@model SSM.Models.SupplierModels
<div class="BoxL2">
    <div class="BoxL3">
        <div class="BoxL4">
            <div class="DivHeader">
                <h2 id="ModifyHeader">
                    Modify Supplier
                </h2>
            </div>
            <div style="width: 100%" id="ModifyForm">
                @using (Html.BeginForm("Edit", "Supplier", FormMethod.Post, new { id = "frmSupplier" }))
                {
                    @Html.AntiForgeryToken()
                    <table>
                        <tr>
                            <td class="TDClass"><label>Abb Name</label></td>
                            <td class="TDClass">
                                @Html.HiddenFor(m => m.Id)
                                @Html.TextBoxFor(m => m.CompanyName, new { maxlength = "20", onblur = "javaScript:jQuery(this).replaceSpecialCharacter();" })
                                <br />
                                <span class="clearfix">Tìm kỹ trước khi nhập mới, tên viết tắt không quá 20 ký tự.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="TDClass"><label>Supplier Name</label></td>
                            <td class="TDClass">
                                @Html.TextBoxFor(m => m.FullName, new { maxlength = "100" })
                            </td>
                        </tr>
                        <tr>
                            <td class="TDClass">
                                <label>
                                    Address
                                </label>
                            </td>
                            <td class="TDClass">
                                @Html.TextAreaFor(m => m.Address, new { maxlength = "200" })
                            </td>
                        </tr>
                        <tr>
                            <td class="TDClass">
                                <label>
                                    Coutry
                                </label>
                            </td>
                            <td class="TDClass">
                                @Html.DropDownList("CountryId", (SelectList)ViewData["CountryList"], "--Select Country--", new { ReadOnly = "true" })
                            </td>
                        </tr>
                        <tr>
                            <td class="TDClass">
                                <label>
                                    Description
                                </label>
                            </td>
                            <td class="TDClass">
                                @Html.TextAreaFor(m => m.Description, new { maxlength = 5000, style = "width: 658px; height: 182px;" })
                                <br />
                                <div class="clearfix">
                                    <span>Ghi chú được nhập tối đa 5000 ký tự.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @if (Model.Id != 0)
                                {
                                    <input type="button" id="btnSave" onclick="return Supplier.SubmitForm();" value="Updade" />
                                }
                                else
                                {
                                    <input type="button" id="btnSave" onclick="return Supplier.SubmitForm();" value="Create" />
                                }

                                <input type="button" value="Cancel" onclick="javascript:jQuery('#ModifyDeptZone').hide();" style="width:75px; background-color:#ED1B2E;" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#btnSave").click(function (e) {
            var form = document.getElementById('frmSupplier');
            var formData = new FormData(form); 
            var check = Supplier.SubmitForm();
            if (check == true) {
                e.preventDefault();
                jQuery.mbqAjax({
                    method: "POST",
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    url: '@Url.Action("Edit","Supplier")',
                    data: formData,
                    success: function (data) {
                        if (data === "1") {
                            window.location.href = '@Url.Action("Index","Supplier", new{id=0})';
                        } else {
                            jQuery("#ModifyDeptZone").html(data);
                            jQuery('#ModifyDeptZone').show();
                        }
                    }
                });
            } else {
                return false;
            }
        });
    });

     
</script>