@using System.Collections
@using System.Web.Optimization
@using SSM.Controllers
@using SSM.Models
@using SSM.Services
@using SSM.ViewModels.Shared
@model SSM.ViewModels.Shared.GridNew<Supplier, SupplierModels>
@{
    ViewBag.Title = "Supplier";
    User User1 = (User)Session[AccountController.USER_SESSION_ID];
    SelectList countryList = (SelectList)ViewData["CountryList"];
}

@using (Ajax.BeginForm("Index", "Supplier",new AjaxOptions()
{
    HttpMethod ="post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ListData"
}))
{
    <div class="SectionBlock Expanded BoxL1">
        <div class="BoxL2">
            <div class="BoxL3">
                <div class="BoxL4">
                    <div class="DivHeader">
                        <h2>List Supplier</h2>
                    </div>  
                    <div id="SearchBlock" style="float: left; height: auto;"></div>
                    <div class="SectionHeading">
                       @Html.Partial("_HearderSearch")
                    </div>
                    <div class="SectionBlockWrapper" style="display: none;">
                        <table id="table-sarch">
                            <tr>
                                <td class="TDClass">
                                    <label>Abb Name</label>
                                </td>
                                <td class="TDClass">
                                    @Html.HiddenFor(m => m.SearchCriteria.Id)
                                    @Html.TextBoxFor(m => m.SearchCriteria.CompanyName, new { maxlength = "15" })
                                </td>
                            </tr>
                            <tr>
                                <td class="TDClass">
                                    <label>Full Name</label>
                                </td>
                                <td class="TDClass">
                                    @Html.TextBoxFor(m => m.SearchCriteria.FullName, new { maxlength = "100" })
                                </td>
                            </tr>
                            <tr>
                                <td class="TDClass">
                                    <label>
                                        Address
                                    </label>
                                </td>
                                <td class="TDClass">
                                    @Html.TextBoxFor(m => m.SearchCriteria.Address, new { maxlength = "200" })
                                </td>
                            </tr>
                            <tr>
                                <td class="TDClass">
                                    <label>
                                        Country
                                    </label>
                                </td>
                                <td class="TDClass">
                                    @Html.DropDownList("SearchCriteria.CountryId", countryList, "--Select Country--", new { ReadOnly = "true" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Search" id="btn-search" />
                                </td>
                            </tr>
                        </table>
                    </div>
                   
                    <div id="ListData">
                        @Html.Partial("_ListData", Model)
                    </div>
                    <div id="gridFooter">
                        @Html.DropDownList("Pager.PageSize", Grid<Supplier>.PageSizeSelectList(), new { onchange = "onPageSizeChange()" })
                        <label>Rows per page</label>
                    </div>
                    <div style="height: auto; overflow: hidden;">
                        @if (User1.IsDataTrading())
                        {
                            <input type="button" onclick="return edit(0)" id="CreateDept1" value="Create a Supplier" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="SectionBlock Expanded BoxL1" id="ModifyDeptZone">

</div>
@Scripts.Render("~/bundles/SCFListPagingJs")
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#databaseTab").addClass("Active");
        jQuery('#databaseTab').activeThisNav();
        jQuery('#ModifyDeptZone').hide();
        
    });

    function edit(id) {
        jQuery.mbqAjax({
            url: '@Url.Action("Edit", "Supplier")',
            data: { id: id },
            method: "GET",
            dataType: 'html',
            success: function (result) {
                jQuery("#ModifyDeptZone").html(result);
                jQuery('#ModifyDeptZone').show();
                if (!window.location.href.endsWith("ModifyForm")) {
                    window.location = window.location.href.replace("#", "") + '#ModifyForm';
                } else {
                    window.location = window.location.href;
                }
                jQuery('#Code').focus();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error getting prospect list: " + textStatus);
            }
        });

    }
</script>
