@model IEnumerable<SSM.ViewModels.StockRecevingDiagloModel>
@{
    int index = (int)ViewData["TabIndexAdd"];
}

<script src="~/Scripts/tableSelectRow.js"></script> 
@*<div style="margin-bottom: 10px">
        <div>
            <input type="text" placeholder="Enter name search " id="textSearch" class="RevenueInput" value="@ViewData["nameSearch"]" style="width: 400px" />
            <input type="button" class="btn btn-primary" value="search" style="margin-left: 10px" onclick="return Search();"/>
        </div>
    </div>*@
<table tabindex='0' id="mstrTable"  style="mso-cellspacing: 0;" class="grid">

    <thead>
        <tr>
            <th style="width: 30px">#</th>
            <th style="min-width: 150px">Name</th>
        </tr>
    </thead>
    @{
        var no = 0;
    }
    <tbody>
        @foreach (var it in Model)
        {
            no++;
            var hightline = no % 2 == 0 ? "GridLight" : string.Empty;
            <tr class="@hightline" >
                <td>@no</td>
                <td iditem="@it.Id" other="@it.Other" onclick="return getItem(this)" forindex="@index" display="@it.Display">@it.Display</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
     
    function Search() {
        var name = jQuery("#textSearch").val();
        var data = { id: 0, name: name, modelName: '@ViewData["modelName"]', tabIndex: @index }
        jQuery.mbqAjax({
            url: '@Url.Action("CheckSuggest", "StockReceiving")',
            method: 'POST',
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (html) {
                jQuery(".jconfirm-box .content").html(html);
            }
        });
    }
    function getItem(t) {
        var $el = jQuery(t);
        var id = $el.attr("iditem");
        var name = $el.attr("display"); 
        var other = $el.attr("other");
        var tabIndex = parseInt($el.attr("forIndex"));
        var byId = jQuery(".input-stock").find("input[tabindex='" + tabIndex + "']").attr("id");
        jQuery("#" + byId).prev("input:hidden").val(id);
        jQuery("#" + byId).val(name);
        if (other != undefined && other !== "N/A") {
            jQuery("#" + byId).parents("tr:first").find(".UOM:first").val(other);
        }
        jQuery(".closeIcon").click();
        jQuery('[tabindex=' + ++tabIndex + ']').focus();

    }
</script>
 